# This is a basic workflow to help you get started with Actions

name: 网易云音乐签到

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Download bin
        run: |
          wget https://github.com/XiaoMengXinX/Fuck163MusicTasks/releases/download/v2.1.5/Fuck163MusicTasks_linux_amd64
          chmod 777 ./Fuck163MusicTasks_linux_amd64
          
      # 请将 config.json 中所有内容填入 secrets 中的 CONFIG 环境变量
      - name: Export Config
        env:
          CONFIG: ${{ secrets.CONFIG_163 }}
        run: 
          echo "$CONFIG" > config.json

      # Runs a set of commands using the runners shell
      - name: Run Fuck163MusicTasks
        run: |
          ./Fuck163MusicTasks_linux_amd64
